@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" link rel="stylesheet" type="text/css" url="site.css">
    <h1>ReeTail</h1>
    <p class="lead">ReeTail allows you buy and sell items all in one place (totally original, definitely never been done before)!</p>
    <p><a href="Sell" class="btn btn-primary btn-lg">Start &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>I Want to Sell...</h2>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Start selling &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>I Want to Buy...</h2>
        <p>Search for items from sellers across the country by name, category, price etc.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Start buying &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Create an account</h2>
        <p>To buy or sell, you need to make a ReeTail account. Create and personalise you're profile here!</p>
        <p><a class="btn btn-default" href="http://localhost:53645/UserRegistration/CreateNewUser">Create my ReeTail account &raquo;</a></p>
    </div>
</div>
